/* --------overwritting bootstrap defaults------------------------  */
.banner {
    width: 100%;
    height: auto;
}

.card {
    border: none
}

.card-title {
    text-align: center;
    padding-top: 3%;
    text-shadow: 0 0 black;
}

.card-text {
    text-align: center;
}

.mx-auto {
    width: 140px;
}

/* .card-deck .card {
    margin-right: 0px;
    margin-left: 0px
} */

.card-body .card-text {
    width: 20vw
}


.card img {
    width: 60%;
    margin-left: 15%;
    margin-top: 4%;
}

.card-deck {
    margin-top: 8%;
}

.mx-auto {
    padding-bottom: 8%;
}

  body {
    font-family: "Lato", sans-serif;
  }
  
/* ----------------------top-navbar ----------------------------- */
.top-bar {
    float: right;
    padding: 10px 30px;
}
.top-bar a {
    padding: 0 10px;
    color: black;
    text-decoration: none;
}

.nav-bar {
  float: left;
  padding: 10px 30px;
}
.nav-bar a {
  padding: 0 10px;
  color: black;
  text-decoration: none;
}
/* ----------------sidebar ----------------------------------------- */
* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
/* .fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
} */

body {
	background: #fff;
	font-family: 'open-sans-bold', AvenirNext-Medium, sans-serif;
	font-size: 18px;
	text-align: center;
}

/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #fff;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

section {
	height: 100vh;
}

/* Screens Settings */
#screen1 {
  /* background: #43b29d; */
  background-image: url("/Users/anna/Flatiron/Project/Mod3_Project_Js/FRONTEND/image/water_banner.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat
}

#screen1 p {
	padding-top: 200px;
}

.hide {
  display: none;
}

@media only screen and (max-width: 520px) {

}
  

  /* ----------------Container that holds everything --------------- */
  .container {
    width: 100%;
    padding-right: 0!important;
    padding-left: 40px;
    transition: margin-left 0.5s;
    margin-left: 30px;
  }
  
  .col.mb-4 {
      padding: 4%;
  }
 
  
  #main {
    transition: margin-left .5s;
    /* padding: 16px; */
  }


  /* -----------------Review Form ----------------------- */
.fa-star-o {
    padding: 4px;
}


  /* ------------------ Heading ----------------------------------- */
  .main-container {
      padding: 20px 0;
  }
  
  .main-container h2{
      text-align: center
  }

  .main-container p{
    text-align: center
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
 
  }

  /* -----------------CART PAGE ---------------------------- */
.cart-holder {
  margin-left: 10%;
}

.total-info {
  margin-left: 30px
}

#horizontal-line {
  border-bottom: 1px solid #111;
}