/* ---------------- Header Offer ----------------------- */
.header-offer {
  color: white;
  background: #426876;
  padding: 1%
}

/* Navbar  */
.logo {
  font-family: 'Bebas Neue';
  font-size: 50px;
  margin-top: -25px; 
  /* text-shadow: 1px 1px ; */
  margin-right: 2%
}


/* Category name display  */

.category-name {
    float: left;
    display: block;
    margin-left: 4%;
    margin-top: 4%;
    width: 250px;
    position: absolute
}

.category-name h1 {
  font-size: 30px;
    text-shadow: 1px 1px;
    
}




/* Styling the card that holds a product on the display all products  */
.col.mb-4 {
  margin: 5% 0;
}


/* -----Review Container ----------------  */
.reviews {
  margin-top: 10%;
}


#ratingAndReview {
  padding-top: 30px;
  border-top: 1px solid#DCDCDC;
  margin-bottom: 8%;
  font-size: 26px;
}

#review-holder {
  margin-top: -4%;
}

#nickname {
  margin-top: 4%;
}

.single-review {
  padding: 0 10%;
}

#new-review { 
  padding: 0 20%;
  /* margin-left: 30%; */
  margin-top: 6%;
  width: 100%
}

.rateThisProduct {
  padding-top: 4%;
}

#containerOFstars {
  padding-bottom: 4%;
}


/* --------overwritting bootstrap defaults------------------------  */

/* container that holds the grid structure  */

#grid-holder {
  margin-top: 12%;
  padding: 0 2%;
}

.banner {
  width: 100%;
  height: auto;
}


.reviewContainer {
  margin-right: 15%;
}

.card {
  border: none
}

.card-title {
  text-align: center;
  padding-top: 3%;
  text-shadow: 0 0 black;
}

.card-text {
  text-align: center;
}

.mx-auto {
  width: 150px;
}

.card-body  {
  width: 36vw;
}

.card-img-top {
  width: 60%!important;
}


.card img {
  width: 60%;
  margin-left: 15%;
  margin-top: 4%;
}

.card-deck {
  margin-top: 8%;
}


#product-info {
padding: 7% 0;
}

.basket-title {
  float:left; 
  /* font-weight: bolder; */
  margin-left: 8%;
  margin-bottom: -3%;
  font-size: 30px;
  text-shadow: 1px 1px
}

.product-list {
  width: 50%;
}

.total-info {
  float: right;
  position: relative;
  top: -200px;
  margin-right: 10%
}

.singular-product {
  padding-top: 6%
}

#subtotal {
  font-size: 25px
}

#estimated-total {
  font-size: 22px;
  font-weight: bold;
}
.mx-auto {
  padding-bottom: 8%;
}

body {
  font-family: "Lato", sans-serif;
  /* height: 100% */
}

/* ----------------------top-navbar ----------------------------- */
.top-bar {
  float: right;
  margin-right: 10px;
  margin-top: -25px; 
  /* text-shadow: 1px 0.5px; */
}

.top-bar a {
  padding: 0 5px;
  color: black;
  text-decoration: none;
}

.nav-bar {
margin-left: 2%;
}

.category {
  margin-bottom: 4px;
}

#nav-bar-items a {
  float: left;
  }

.nav-bar a {
padding: 0 10px;
color: black;
text-decoration: none;
}

/* ----------------sidebar ----------------------------------------- */
* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
/* .fixed {
position: fixed;
top: 0;
height: 70px;
z-index: 1;
} */

body {
background: #fff;
/* font-family: 'Dosis', sans-serif; */
font-family: 'open-sans-bold', sans-serif;
font-size: 18px;
text-align: center;
}

/* Navigation Settings */
/* nav {
position: absolute;
bottom: 0;
width: 100%;
height: 70px;
background: #fff;
}

nav li {
display: inline-block;
padding: 24px 10px;
}

nav li a {
color: #757575;
text-transform: uppercase;
} */

section {
height: 100vh;
}

/* Screens Settings */
#screen1 {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/water_banner.png"); */
  background-image: url("image/water_banner.png");
  height:1024px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}


#screen1 p {
padding-top: 200px;
}

.hide {
display: none;
}

@media only screen and (max-width: 520px) {

}


/* ----------------Container that holds everything --------------- */
.container {
  width: 100%;
  padding-right: 0!important;
  padding-left: 40px;
  transition: margin-left 0.5s;
  margin-left: 30px;
}

/* .col.mb-4 {
  padding: 4%;
} */

/* -----------------Review Form ----------------------- */
.fa-star-o {
  padding: 3px;
}


/* ------------------ Heading ----------------------------------- */
.main-container {
    padding: 20px 0;
}

.main-container h2{
    text-align: center
}

.main-container p{
  text-align: center
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}

}

@media screen and (max-height: 600px) {
  .top-bar {margin-top: -80px!important;}

}

/* -----------------CART PAGE ---------------------------- */
.cart-holder {
margin-left: 10%;
}

.total-info {
margin-left: 30px
}

#horizontal-line {
border-bottom: 1px solid #111;
}



/* ----------login page -----------------  */

#login-button {
  width: 15%;
}

.no-account {
  margin-top: 3%;
}



#sign-up-button {
  width: 32%
}
 
.sign-up-form {
  text-align: right;
  margin-right: 25%;
}

.sign-up-form label {
  padding: 5px
}





.logo-leftImage {
  margin-top: 15px;
  /* width: 50%; */
  /* position: absolute; */
  left: 0;
  height: 600px
}

.logo-rightImage {
  margin-top: 15px;
  /* width: 50%; */
  /* position: absolute; */
  right: 0;
  height: 600px
}

.logoPage-hero {
  margin-top: 3%!important
}